---
title: Blog
layout: default
permalink: "/blog/"
---
<h1 class="page-heading">Posts</h1>
<div role="main" class="home">
    <ul class="post-list">

        {% for post in site.posts %}
        <li>
        {{ post.date | date: "%-d %b %Y" }}
            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>

            {% if post.ingress %} <!--Only the two first contain the ingress: "forloop.index0 < 2 and"-->
            <p>
                {{post.ingress}}
            </p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <div class="tags">
        Tags ...
        <ul>
        {% for tag in site.data.tags %}
                <li>{{ tag.tag }}</li>
        {% endfor %}
        </ul>
    </div>
</div>


