---
title: TacoBloggingBonanza
layout: default
---
<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {{ post.date | date: "%-d %b %Y" }}

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Projects</h1>
    
  <ul class="post-list">
      {% for project in site.data.projects %}
      <li>
       	 <h3>
            {{project.name}}
          </h3>
          <p>
              {{project.description}}
          </p>
      </li>
      {% endfor %}
  </ul>
    
    <h1 class="page-heading">Folks</h1>
      <ul class="post-list">
      {% for user in site.data.users %}
      <li>
        {{user.name}}
      </li>
      {% endfor %}
  </ul>
  <!--<p class="rss-subscribe"><br></p>-->

</div>